@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/customstyles.css" rel="stylesheet" />
<div class="home">
   <img src="~/Content/Images/homeimage.jpg" alt="homeImage" />
</div>
<div class="homeText">
    <h2>Welcome to Chan Innovation University</h2>
        <p>
            Chan Innovation University is a sample application that
            demonstrates how to use Entity Framework 6 in an
            ASP.NET MVC 5 web application.
        </p>
</div>